/* http://meyerweb.com/eric/tools/css/reset/
v2.0 | 20110126
License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

html {
    background-color: #020659;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: white;
}

body {
    margin: 0 auto;
}

/* Hamburger menu styling */
.hamburger {
  display: none;
}

.hamburger-label {
  display: inline-block;
  cursor: pointer;
  padding: 10px 15px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.hamburger-label:hover {
  background-color: #f0f0f0;
}

nav ul {
  display: none;
}

.hamburger:checked ~ nav ul {
  display: block;
}  

/* Mobile First Code? Check this.....*/

ul {
    overflow: hidden;
    max-height: 0;
    transition: max-height .2s ease-out;
}
label {
    cursor: pointer;
    display: inline-block;
    padding: 28px 20px;
    position: relative;
    user-select: none;
}
label span {
    background-color: #ffffff;
    display: block;
    height: 2px;
    position: relative;
    transition: background-color .2s ease-out;
    width: 18px;
}
label span:before, label span:after {
    background: #ffffff;
    content: '';
    display: block;
    height: 100%;
    position: absolute;
    transition: all .2s ease-out;
    width: 100%;
}
label span:before {
    top: 5px;
}
label span:after {
    top: -5px;
}
input {
    display: none;
}
input:checked ~ ul {
    max-height: 500px;
}
input:checked ~ label span {
    background: transparent;
}
input:checked ~ label span:before {
    transform: rotate(-45deg);
}
input:checked ~ label span:after {
    transform: rotate(45deg);
}
input:checked ~ label:not(.steps) span:before, input:checked ~ label:not(.steps) span:after {
    top: 0;
}

@media screen and (min-width:834px) {
    ul {
        overflow: visible;
        position: absolute;
        top: 0;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    }
    label span, input {
        display: none;
    }
} 

h1 {
    font-size: 1.25em;
}

h2, h3 {
    font-size: 1em;
}

p, dl, dd {
    font-size: 1em;
}

#trending {
    color: #590242;
}

#playlists {
    background-color: #0D8DFB;
}
/* AUDIO CODE? CHECK THIS */

audio::-webkit-media-controls-mute-button {
    background-color: #ffffff;
    border-radius: 50%;
}
audio::-webkit-media-controls-play-button {
    background-color: #ffffff;
    border-radius: 50%;
}
audio::-webkit-media-controls-enclosure {
    background-color: rgba(255, 255, 255, .5);
}



.scroll {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    overflow-x: auto;
    overflow-y: hidden;
}

.scroll section {
    margin: 10px;
    position: relative;
}

.scroll div {
    position: absolute;
    top: 251px;
    background-color: rgba (255,255,255,.75);
    padding: 5px;
    height: 50px;
    width: 350px;
}

dl {
    display: flex;
}

dt {
    padding-right: 5px;
}

audio {
    position: absolute;
    bottom: 150px;
    left: 5px;
}

more {
    text-decoration: none;
    background-color: #590242;
    color: #ffffff;
    border-radius: 5px;
    padding: 10px;
    width: 150px;
    display: block;
    text-align: center;
    margin: 10 px 0 30px 32px;
}

.more:hover {
    background-color: #020659;
}

#trending ::-webkit-scrollbar {
    width: 15px;
}
#trending ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 15 px #590242;
}
#trending ::-webkit-scrollbar-thumb {
    background: #590242;
    border-radius: 5px;
}
#trending ::-webkit-scrollbar-thumb:hover {
    background: #020659;
}
#playlists ::-webkit-scrollbar, #curated ::-webkit-scrollbar {
    width: 15px;
}
#playlists ::-webkit-scrollbar-track, #curated ::-webkit-scrollbar-track  {
    box-shadow: inset 0 0 16px #020659;
}
#playlists ::-webkit-scrollbar-thumb, #curated ::-webkit-scrollbar-thumb {
    background-color: #020659;
}
#playlists ::-webkit-scrollbar-thumb:hover, #curated ::-webkit-scrollbar-thumb:hover {
    background-color: #ffffff;
}



footer p {
    font-size: .75em;
}