/* http://meyerweb.com/eric/tools/css/reset/
v2.0 | 20110126
License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* Mobile First Code? Check this.....*/
ul {
    overflow: hidden;
    max-height: 0;
    transition: max-height .2s ease-out;
}
label {
    cursor: pointer;
    display: inline-block;
    padding: 28px 20px;
    position: relative;
    user-select: none;
}
label span {
    background-color: #ffffff;
    display: block;
    height: 2px;
    position: relative;
    transition: background-color .2s ease-out;
    width: 18px;
}
label span:before, label span:after {
    background: #ffffff;
    content: '';
    display: block;
    height: 100%;
    position: absolute;
    transition: all .2s ease-out;
    width: 100%;
}
label span:before {
    top: 5px;
}
label span:after {
    top: -5px;
}
input {
    display: none;
}
input:checked ~ ul {
    max-height: 500px;
}
input:checked ~ label span {
    background: transparent;
}
input:checked ~ label span:before {
    transform: rotate(-45deg);
}
input:checked ~ label span:after {
    transform: rotate(45deg);
}
input:checked ~ label:not(.steps) span:before, input:checked ~ label:not(.steps) span:after {
    top: 0;
}



@media screen and (max-width: 375px) {
    #playlists {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        overflow-x: auto;
        overflow-y: hidden;
      }

    #curated .playlist {
        display: flex;
        flex-wrap: nowrap;
        overflow-x: scroll;
        -webkit-overflow-scrolling: touch;
    }
    #curated .playlist li {
        flex-shrink: 0;
        width: 100%;
        white-space: nowrap;
    }  

    #playlists, #curated {
        display: flex;
        flex-wrap: nowrap;
        overflow-x: auto;
      }
}


@media screen and (min-width: 375px){
    body {
        max-width: 834px;
    }

    .hamburger {
        display: none;
    }
    
    #playlists {
        width: 50%;
        float: left;
    }
      
    #curated {
        width: 50%;
        float: right;
    }

    #playlists section {
        padding: 20px;
    }
    
    #curated section {
        padding: 20px;
    }

    #playlists section,
    #curated section {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-start;
        margin-bottom: 20px;
    }

    #playlists img,
    #curated img {
        flex: 0 0 30%;
        margin-right: 20px;
    }

    #playlists p,
    #curated p {
        flex: 1;
    }

    .more {
        float: right;
        margin: 10px;
    }

    
}

html {
    background-color: #020659;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
    margin: 0 auto;
    
    color: #ffffff;
}

header {
    margin-top: 59px;
    padding-bottom: 20px;
    background: rgb(33,4,217);
    background: linear-gradient(90deg, rgba(33,4,217,1) 0%, rgba(2,6,89,1) 33%, rgba(2,6,89,1) 66%, rgba(0,0,0,1) 100%);
}

nav ul {
    background-color: #2104D9;
}

h1 {
    font-size: 1.25em;
}

h1, h2, h3 {
    font-weight: bold;
    text-transform: uppercase;
}

h2, h3 {
    font-size: 1em;
}

p, dl, dd {
    font-size: 1em;
}

#playlists h2 {
    background-color: #ffffff;
    color: #590242;
    padding-left: 30px;
    padding-bottom: 10px;
}

#curated h2 {
    background-color: #ffffff;
    color: #590242;
    padding-left: 30px;
    padding-bottom: 10px;
}

.hamburger {
    display: none;
  }
  
.hamburger-label {
    display: inline-block;
    cursor: pointer;
    padding: 10px 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
}
  
.hamburger-label:hover {
    background-color: #f0f0f0;
}
  
nav ul {
    display: none;
}
  
.hamburger:checked ~ nav ul {
    display: block;
}  
 
#smoothjazz {
    background-image: linear-gradient(to right, #2104D9, black);
    padding-top: 10px;
    padding-left: 30px;
    padding-bottom: 20px;
}

#smoothjazz p {
    padding-top: 10px;
}

#trending {
    color: #590242;
    background-color: #ffffff;
    padding-top: 50px;
    padding-bottom: 30px;
}

#trending h2 {
    padding-left: 30px;
    padding-bottom: 15px;
}

#trending .button {
    background-color: #590242;
}

#playlists {
    background-color: #2699FB;
}

#playlists section {
    background-color: #0D8DFB;
    padding: 5px;
    margin: 20px;
}

#curated {
    background-color: #030A8C;
}

#curated section {
    background-color: #020873;
    padding: 5px;
    margin: 20px;
}

audio::-webkit-media-controls-mute-button {
    background-color: #ffffff;
    border-radius: 50%;
}
audio::-webkit-media-controls-play-button {
    background-color: #ffffff;
    border-radius: 50%;
}
audio::-webkit-media-controls-enclosure {
    background-color: rgba(255, 255, 255, .5);
}

.scroll {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    overflow-x: auto;
    overflow-y: hidden;
}

.scroll section {
    margin: 10px;
    position: relative;
}

.scroll div {
    position: absolute;
    top: 251px;
    background-color: rgba(255,255,255,.75);
    padding: 5px;
    height: 50px;
    width: 350px;
}

dl {
    display: flex;
}

dt {
    padding-right: 5px;
}

audio {
    position: absolute;
    bottom: 150px;
    left: 5px;
}

.more {
    background-color: #590242;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-top: 10px;
    margin-left: 30px;
    border-radius: 5px;
}

more {
    text-decoration: none;
    background-color: #590242;
    color: #ffffff;
    border-radius: 5px;
    padding: 10px;
    width: 150px;
    display: block;
    text-align: center;
    margin: 10 px 0 30px 32px;
}

.more:hover {
    background-color: #020659;
}

#trending ::-webkit-scrollbar {
    width: 15px;
}
#trending ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 15px #590242;
}
#trending ::-webkit-scrollbar-thumb {
    background: #590242;
    border-radius: 5px;
}
#trending ::-webkit-scrollbar-thumb:hover {
    background: #020659;
}

#playlists ::-webkit-scrollbar, #curated ::-webkit-scrollbar {
    width: 15px;
}
#playlists ::-webkit-scrollbar-track, #curated ::-webkit-scrollbar-track  {
    box-shadow: inset 0 0 16px #020659;
}
#playlists ::-webkit-scrollbar-thumb, #curated ::-webkit-scrollbar-thumb {
    background-color: #020659;
}
#playlists ::-webkit-scrollbar-thumb:hover, #curated ::-webkit-scrollbar-thumb:hover {
    background-color: #ffffff;
}
 
#curated ::-webkit-scrollbar, #curated ::-webkit-scrollbar {
    width: 15px;
}
#curated ::-webkit-scrollbar-track, #curated ::-webkit-scrollbar-track  {
    box-shadow: inset 0 0 16px #020659;
}
#curated ::-webkit-scrollbar-thumb, #curated ::-webkit-scrollbar-thumb {
    background-color: #020659;
}
#curated ::-webkit-scrollbar-thumb:hover, #curated ::-webkit-scrollbar-thumb:hover {
    background-color: #ffffff;
}

footer p {
    font-size: .75em;
}